$Gray9: #232e40;
$Gray10: #121d2e;
$Gray8: #354153;
$Gray7: #515c6d;
$Gray6: #687486;
$Gray5: #7f8a9b;
$Gray4: #9ea6b4;
$Gray3: #c0c7d2;
$Gray2: #d7dbe2;
$Gray1: #e6e9ee;
$GrayHalf: #f2f4f6;
$GrayPointone: #f9fafc;
$MainGreenLight: #ebfbee;
$MainYellowLight: #fff9db;
$MainGreenDefault: #3da451;
$MainGreenDark: #2b8a3e;
$MainYellowDefault: #f9bb00;
$MainYellowDark: #f08c00;
$RedLight: #fff5f5;
$RedDefault: #f03e3e;
$RedDark: #c92a2a;
$TealLight: #e6fcf5;
$TealDefault: #12b886;
$TealDark: #087f5b;
$gray900: #172e48;
$gray000: #ffffff;
